* {
    box-sizing: border-box;
  }



h1 {
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

body {
    width: 100vw;
    height: 100vh;
}


p {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 30%;
}

.start-button {
    position: absolute;
    right: 48%;
    top: 28%;
    background: radial-gradient(circle, rgb(99, 226, 222) 0%, rgba(33, 102, 102, 0.954) 100%);
    color: rgb(0, 0, 0);

}

#question1 {
    padding-left: 527px;
    font-size: 30px;
    font-weight: bold;
}
#question2 {
    font-size: 30px;
    margin-top: -28px;
    font-weight: bold;
    padding-left: 527px;
}

#question3 {
    font-size: 30px;
    font-weight: bold;
    line-height: 0px;
    padding-left: 527px;
}

#question4 {
    font-size: 30px;
    font-weight: bold;
    line-height: 20px;
    padding-left: 527px;
}

#question5 {
    font-size: 30px;
    font-weight: bold;
    line-height: 20px;
    padding-left: 527px;
}

#question6 {
    font-size: 30px;
    font-weight: bold;
    line-height: 0px;
    padding-left: 527px;
}

#question7 {
    font-size: 30px;
    font-weight: bold;
    line-height: 0px;
    padding-left: 527px;
}

#question8 {
    font-size: 30px;
    font-weight: bold;
    line-height: 0px;
    padding-left: 527px;
}

#question9 {
    font-size: 30px;
    font-weight: bold;
    line-height: 0px;
    padding-left: 527px;
}

#question10 {
    font-size: 30px;
    font-weight: bold;
    line-height: 0px;
    padding-left: 527px;
}

#question11 {
    font-size: 30px;
    font-weight: bold;
    line-height: 0px;
    padding-left: 527px;
}

.hide {
    display: none;
}


.answers {
    display: block; 
    margin: 5px;
    text-align: center;
    line-height: 16px;
    margin-left: 530px;
    background: radial-gradient(circle, rgb(99, 226, 222) 0%, rgba(33, 102, 102, 0.954) 100%);
}

.endscreen {
    padding-left: 530px;
    font-weight: bold;
    font-size: 30px;
    margin-top: -100px;
}

button:hover {
    opacity: 0.5;
}


.word-blanks {
    padding-left: 532px;
    font-style: italic;
    color: rgb(52, 113, 138);
    margin-top: 150px;
}

#finalscore {
    padding-left: 532px;
    margin-top: 80px;
}
#button {
    margin-left: 0px;
    margin-top: 25px;
}

#text {
    margin-left: 628px;
}

#highscorelist {
    display: block;
    margin-left: 665px;
    margin-top: -120px;
    background-color: aliceblue;
    width: 20%;
    padding: 0;
}

.initials {
    margin-left: 533px;
    margin-top: -19px;
    font-size: 17px;
}

.highscores {
    margin-left: 663px;
    margin-top: 60px;
    font-size: 30px;
    font-weight: bold;
}

.userscore {
    margin-left: 663px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(171, 194, 218);
    width: 15%;
}
li {
    list-style-type: none;
}
#clearscores {
    margin-left: 660px;
    margin-top: 110px;
}
